<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="disenoBase::site-head"></head>
<body>
<header th:replace="disenoBase::site-header"></header>
<main role="main">
    <div class="container" id="divCasiForm">
        <div class="page-header">
            <h4 class="text-primary">Datos de Tarifa</h4>
        </div>
        <div class="container">
            <form th:object="${tarifa}" th:action="@{/tarifa/nuevo}" method="post">
                <div th:if="${#fields.hasErrors('*')}"
                     class="alert alert-danger alert-dismissible fade show"
                     role="alert">
                    <strong>Un inconveniente!</strong>Por favor verifique los campos.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control disabled" id="inputID" placeholder="Ingrese ID"
                           th:field="*{id}" th:value="*{id}">
                    <span class="help-block" th:if="${#fields.hasErrors('id')}">
                        <small th:errors="*{id}" class="text-danger">ID error</small>
                    </span>
                </div>
                <div class="form-group">
                    <label for="inputDescripcion">Descripcion:</label>
                    <input type="text" class="form-control disabled" id="inputDescripcion"
                           placeholder="Ingrese Descripcion "
                           th:class="${#fields.hasErrors('descripcion')}? 'form-control alert-danger' : 'form-control'"
                           th:field="*{descripcion}" th:value="*{descripcion}">
                    <span class="help-block" th:if="${#fields.hasErrors('descripcion')}">
                        <small th:errors="*{descripcion}" class="text-danger">descripcion error</small>
                    </span>
                </div>
                <div class="form-group">
                    <label for="inputAreaMinima">Area Minima (en m<sup>2</sup>):</label>
                    <input type="text" class="form-control" id="inputAreaMinima" placeholder="Ingrese Area Minima"
                           th:class="${#fields.hasErrors('areaMinima')}? 'form-control alert-danger' : 'form-control'"
                           th:fields="*{areaMinima}" th:value="*{areaMinima}">
                    <span class="help-block" th:if="${#fields.hasErrors('areaMinima')}">
                        <small th:errors="*{areaMinima}" class="text-danger">areaMinima error</small>
                    </span>
                </div>
                <div class="form-group">
                    <label for="inputPrecio">Precio (en m<sup>2</sup>):</label>
                    <input type="text" class="form-control" id="inputPrecio" placeholder="Ingrese Precio"
                           th:class="${#fields.hasErrors('precio')}? 'form-control alert-danger' : 'form-control'"
                           th:fields="*{precio}" th:value="*{precio}">
                    <span class="help-block" th:if="${#fields.hasErrors('precio')}">
                        <small th:errors="*{precio}" class="text-danger">precio error</small>
                    </span>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-primary">Aceptar</button>
                <a th:href="@{/tarifa/index}" class="btn btn-outline-secondary" role="button">Regresar</a>
            </form>
        </div>
    </div>
    <div class="container" id="divCasoRes" style="display: none;"></div>
</main>
<footer th:replace="disenoBase::site-footer"></footer>
<div th:replace="disenoBase::site-bootstrap"></div>
</body>
</html>